.sm-product-detail img{
    width: 250px;
    height: 250px;
    border-radius: .5rem;
}
.sm-product-detail{
    padding: 80px 0px 80px 0px;
}

.sm-product-detail .sm-product-image-container{
    max-width:300px;
}

.sm-pd-buttons .dx-button{
    width:100%;
}

.sm-product-count-container .row{
    padding: 100px 0px;
}

.sm-product-count-container .dx-texteditor-input{
    padding: 0px 15px;
}

.smProductMRP, .smProductMRP i{
    text-decoration: line-through;
}