<div class="row sm-product-detail">
    <div class="col-md-2"></div>
    <div class="col-md-2 sm-product-image-container">
        <img src="http://placehold.it/300x200" alt="{{product.productName}}">
    </div>
    <div class="col-md-3 sm-product-detail-container">
        <h3>{{product.productName}}</h3>
        <dx-select-box [dataSource]="sizeArray" 
                       displayExpr="name" 
                       valueExpr="ID" 
                       placeholder="Size">
        </dx-select-box>

        <dx-select-box [dataSource]="colorArray" 
                       displayExpr="name" 
                       valueExpr="ID" 
                       placeholder="Color">
        </dx-select-box>

        <p class="px-2 pt-3">
            Price : Rs {{product.productPriceToShow}}
        </p>
        <p class="px-2">
            Disc. Price : Rs {{product.productDisc}}
        </p>

        <div class="row sm-pd-buttons">
            <div class="col-md-6">
                <dx-button type="default" 
                           text="Buy Now">
                </dx-button>
            </div>
            <div class="col-md-6">
                <dx-button type="default" 
                           text="Add to Cart"
                           (click)="addToCart()">
                </dx-button>
            </div>
        </div>
    </div>
    <div class="col-md-2 sm-product-count-container">
        <div class="row">
            <div class="col-md-4">
                <dx-button icon="fa fa-plus"
                           (onClick)="quantityIncrement('+')" >
                </dx-button>
            </div>
            <div class="col-md-4">
                <dx-number-box [value]="1" 
                               min="1" 
                               max="5"
                               #quantityNumberBox
                               readOnly="true">
                </dx-number-box>
            </div>
            <div class="col-md-4">
                <dx-button icon="fa fa-minus"
                           (onClick)="quantityIncrement('-')">
                </dx-button>
            </div>
        </div>
    </div>
</div>