#smOrderPlacedContainer {
    border-style:solid;
    padding:60px 0px;
}
.smPaymentOptionsContainer{
    height:250px;
}
#smOrderContainer{
    padding:32px 0px;
    font-weight: 500;
    font-size: large;
}