.sm-register{
    border-right: 2px solid #ddd;
    padding: 0rem 8rem 2rem 8rem !important;
}
.sm-register .dx-datebox{
    width:auto !important;
}
.sm-login{
   padding: 6rem 8rem 0px 8rem !important;
}
.smRegisterConfirmContainer{
    padding: 100px 0px 120px 0px;
}

.smForgotPasswordLink{
    text-decoration: underline !important;
    color: darkslateblue !important;
}