<div class="row" id="smCartContainer">
    <div class="col-md-8 smcartcontainerleft">
        <div class="row font-weight-bold">
            <h4>
                My Cart
            </h4>    
        </div>
        <div class="row">
            <dx-list [items]="cartProducts"
            [height]="450"
            selectionMode="multiple"
            [showSelectionControls]="true" #smCartListComponent>
              <div *dxTemplate="let item of 'item'">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="smCartImage" src="{{item.productImagePath}}" alt="{{item.productName}}">
                        </div>
                        <div class="col-md-6">
                            <h3>{{item.productName}}</h3>
                            <p>Price : Rs {{item.productPriceToShow}}</p>
                            <dx-button type="default" 
                                text="Delete"
                                align="left"
                                (click)="deleteCartByUserProduct(item.productId)"
                                >
                            </dx-button>    
                        </div>
                        <div class="col-md-3 smQuantityContainer">
                                
                            <smappquantity [currentValue]="item.quantity"
                                        (valueChange)="quantityChange($event,item.quantity,item.productId)" >
                            </smappquantity>
                        
                        </div>    
                    </div>
                </div>     
            </dx-list>
        </div>  
    </div>
    <div class="col-md-4 smcartcontainerright text-center">
       
        <div class=""> 
            <h1 class="font-weight-bold">Sub Total</h1>
        </div>    
        <div class="">
            <p> {{cartTotalItems}} Items </p>
        </div>


        <div class="">  
            <p> Price Rs. {{cartTotalPrice}} </p>
        </div>
    
            <dx-button type="default" 
                      text="Proceed"
                      align="center"
                      (onClick)="proceedToBuy()"
                      >
          </dx-button>

          </div>    
</div>  


<dx-load-panel #loadPanel 
               shadingColor="lightcyan" 
               [position]="{ of: '#smCartContainer' }" 
               [(visible)]="loadingVisible"
               [showIndicator]="true" 
               [showPane]="true" 
               [shading]="true" 
               [closeOnOutsideClick]="false">
</dx-load-panel>