<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a routerLink="/Products" class="navbar-brand">SM</a>
    
    <h2 class="smtitle"> shop me </h2>

    <div class="user-account">
        <a class="fa fa-shopping-cart pr-3" href="/Cart">
        </a>
        <span id="smUserSection" [ngSwitch]="reloadUserSection()">
          <a *ngSwitchCase="true">
              {{loggedInUserInitials}} 
          </a>
          <a class="fa fa-user" routerLink="/Login"  *ngSwitchCase="false">
          </a>
        </span>
        
    </div>
   
    
  </div>
</div>