<div class="row" id="smFPContainer">
    <div class="col-md-6 p-5 sm-forgotpassword">
        
        <div id="smForgotPasswordContainer" [ngSwitch]="resetPassword">
            <div *ngSwitchCase="false">
                <h1 class="font-weight-bold text-center pb-4">
                   Forgot Password ?
                </h1>
                <form (submit)="onForgotPasswordFormSubmit($event)">
                    <dx-form id="forgotPasswordForm" 
                                #forgotPasswordForm
                                labelLocation="left" 
                                [minColWidth]=300 
                                [colCount]=1 
                                [showColonAfterLabel]=false>
                        <dxi-item dataField="userName" [editorOptions]="forgotPasswordUserNameOptions">
                            <dxo-label text="User Name">
                            </dxo-label>
                            <dxi-validation-rule type="required" message="User Name is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="namePattern" message="Please enter valid First Name">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="3" message="First Name must have at least 3 symbols">     
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item itemType="button" alignment="center" [buttonOptions]="forgotPasswordButtonOptions">
                        </dxi-item>
                    </dx-form>
                </form>
            </div>
            <div class="smPasswordResetContainer" *ngSwitchCase="true">
                <h1 class="font-weight-bold text-center pb-4">
                    Reset Password
                </h1>
                <form (submit)="onPasswordResetFormSubmit($event)">
                    <dx-form id="passwordResetForm" 
                                #passwordResetForm
                                labelLocation="left" 
                                [minColWidth]=300 
                                [colCount]=1 
                                [showColonAfterLabel]=false
                                (onInitialized)="intializePasswordResetForm()">
                        <dxi-item dataField="userName" [editorOptions]="passwordResetUserNameOptions" editorType="dxTextBox">
                            <dxo-label text="User Name">
                            </dxo-label>
                            <dxi-validation-rule type="required" message="User Name is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="namePattern" message="Please enter valid First Name">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="3" message="First Name must have at least 3 symbols">     
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="newPassword" [editorOptions]="newPasswordBoxOptions">
                            <dxo-label text="New Password">
                            </dxo-label>
                            <dxi-validation-rule type="required" message="Password is required">
                            </dxi-validation-rule>   
                            <dxi-validation-rule type="pattern"
                                                [pattern]="passwordPattern"
                                                message="Password must contains atleast : Special character , number , Capital Letter and length must be greater or equal to 8.">
                            </dxi-validation-rule>     
                        </dxi-item>        
                        <dxi-item dataField="accessCode" editorType="dxNumberBox">
                            <dxo-label text="Confirmation Code">
                            </dxo-label>
                            <dxi-validation-rule type="required" message="Confirmation Code is required">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [min]="6" [max]="6" message="Confirmation Code must have at 6 digits">     
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item itemType="button" alignment="center" [buttonOptions]="passwordResetButtonOptions">
                        </dxi-item>
                   </dx-form>
                </form>        
            </div>
        </div>
        
       
    </div>

    <div class="col-md-6 sm-forgotusername">
        <h1 class="font-weight-bold text-center pb-4">
            Forgot User Name ?
        </h1>
        <form (submit)="onForgotUserNameFormSubmit($event)">
            <dx-form id="forgotUserNameForm" 
                    #forgotUserNameForm 
                    labelLocation="left" 
                    [minColWidth]=300 
                    [colCount]=1 
                    [showColonAfterLabel]=false>

                <dxi-item dataField="email">
                    <dxo-label text="Email Id">
                    </dxo-label>
                    <dxi-validation-rule type="required" message="Email Id is required">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="pattern" [pattern]="emailPattern" message="Please enter valid email address">
                    </dxi-validation-rule>
                </dxi-item>
              
             
                <dxi-item itemType="button" alignment="center" [buttonOptions]="forgotUserNameButtonOptions">
                    </dxi-item>
              
                  
            </dx-form>
        </form>
    </div>
</div>

<dx-load-panel #loadPanel 
               shadingColor="transparent" 
               [position]="{ of: '#smFPContainer' }" 
               [(visible)]="loadingVisible"
               [showIndicator]="true" 
               [showPane]="true" 
               [shading]="true" 
               [closeOnOutsideClick]="false">
</dx-load-panel>