/* You can add global styles to this file, and also import other style files */
.dx-tile{
    border-radius: .5rem !important;
}

.dx-empty-message{
    text-align: center;
    padding: 150px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}