<div class="row">
<div class="col-md-4">
    <dx-button icon="fa fa-plus"
                (onClick)="quantityIncrement('+',$event)" >
    </dx-button>
</div>
<div class="col-md-4">
    <dx-number-box [value]="currentValue" 
                    min="1" 
                    max="5"
                    #smQuantityNumberBox
                    readOnly="true"
                    
                    >
    </dx-number-box>
    <p> Quantity <p>
</div>
<div class="col-md-4">
    <dx-button icon="fa fa-minus"
                (onClick)="quantityIncrement('-',$event)">
    </dx-button>
</div>